
# build output
# dependencies
# environment variables
# generated types
# jetbrains setting folder
# logs
# macOS-specific files
.DS_Store
.astro/
.env
.env.production
.idea/
dist/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
verif-portal/
yarn-debug.log*
yarn-error.log*
.wrangler/
